body {
  font-family: "Jost", sans-serif;
  text-align: center;
}
#title {
  background-color: #100661;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "jost", sans-serif;
  line-height: 1.5;
  padding: 4px;
  font-weight: bold;
}

/* mix of selectors */

/* .testimonals .container{
    color:red;
} */
.h {
  font-family: "jost", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 20px 30px;
  color: #fff;
}
.container-fluid {
  padding-top: 3%;
  padding-left: 20%;
}
/* .fed{
    padding-left: 15%;
    padding-right:15%; */

/* navigation bar */
.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "courgette";
  font-size: 5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* buttons */
.img {
  width: 60%;
  /* transform:rotate(25deg);
    margin-left: 20%; */
  /* z-index: -1;
    position:relative; */
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  /* position: absolute;
    z-index: 1; */
}
.feature-box {
  text-align: center;
  padding: 5%;
}

p {
  color: rgb(63, 54, 54);
}

.icon {
  margin-bottom: 20px;
  color: #e13650;
}

icon:hover {
  color: #961629;
}
#testimonials {
  padding: 5% 15%;
  text-align: center;
  margin: auto;
  background: rgb(238, 174, 202);
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(46, 121, 210, 1) 100%
  );
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.testi {
  width: 640px;
  height: 360px;
  border-radius: 3%;
  margin: 20px;
}

#press {
  background-color: #100661;
  text-align: center;
  padding-bottom: 5px;
}
.press-logo {
  width: 100px;
  height: 360px;
  margin: 5px;
}
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .img {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background: rgb(238, 174, 202);
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(46, 121, 210, 1) 100%
  );
  padding: 7% 15%;
  text-align: center;
}

.hh {
  size: 6rem;
  color: white;
  font-weight: bold;
  padding-top: 0px;
  margin: 30px 20px;
  font-family: "courgette", sans-serif;
}

#footer {
  text-align: center;
  padding: 7% 15%;
}

.fa-brands {
  margin: 10px;
}

.buttonlogin {
  padding: 20px 20px;
}

.btn-lg {
  margin: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

hr {
  width: 0.5px;
}

.convive {
  font-size: 3rem;
  padding: 0 600px 0 30px;
  font-family: "Courgette", sans-serif;
  color: #fff;
}
