<!DOCTYPE html>
	<head>
	  <title>Your Day</title>
	  <meta charset="utf-8">
	  <link rel="stylesheet" href="feedback.css">
    <style>
      .emoji{
display: inline;
}

body{
text-align:center;
background-color:#FFC0CB;
}
p{
padding:30px;
border:auto;
}
    </style>
  </head>
	  <body>
		<h1 style="font-family:cursive">How's your day been so far?</h1>
		 <p class="emoji" style="font-size:100px"><a href="/mainhome">&#128513;</a></p>
		 <p class="emoji" style="font-size:100px"><a href="/mainhome">&#128512;</a></p>
		 <p class="emoji" style="font-size:100px"><a href="/mainhome">&#128528;</a></p>
		 <p class="emoji" style="font-size:100px"><a href="/mainhome">&#128532;</a></p>
		 <p class="emoji" style="font-size:100px"><a href="/mainhome">&#128542;</a></p>
	 <br><br><br><br>
	 <p style="font-family:Cursive">As you know more , you grow more!</p>
	  </body>
</html>